@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

body {
    margin: 0;
    line-height: 1.7;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 500px;
    background: #001334;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

p {
    margin-top: 0;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.title-block__img {
    display: block;
    margin: 0 auto;
}

.top-text {
    color: white;
    padding: 300px 0;
}

.with-num__number {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 500;
}

.with-num__word {
    font-size: 20px;
    line-height: 1.2;
    text-align: right;
}

.top-text__paragraph {
    font-size: 28px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.with-num {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.with-num:first-of-type {
    margin-bottom: 130px;
}

.top-text__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
}

.top-text__right {
    width: 61%;
}

.structure__wrapper {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
}

.structure__title {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 50px;
    color: white;
    margin-top: 0;
}

.structure__proto-column:first-of-type {
    margin-right: 25px;
}

.structure__proto-item {
    display: block;
    margin-bottom: 25px;
}

.structure__proto-screens {
    display: flex;
}

.triangle {
    padding-bottom: 200px;
}

.triangle__wrapper {
    background: url(/src/img/triangle.png) no-repeat center;
    background-size: contain;
    padding: 170px 0 200px;
    max-width: 810px;
}

.center-par {
    font-size: 28px;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 0;
}

.triangle__center-par {
    margin-bottom: 40px;
}

.center-par_white {
    color: white;
}

.center-link {
    font-size: 16px;
    display: block;
    margin: 0 auto;
    width: max-content;
    text-decoration: underline;
    text-underline-position: under;
    text-align: center;
}

.center-link_red {
    color: #FF3D13;
    transition: opacity 0.2s ease-in-out;
}

.center-link_red:hover,
.center-link_red:focus {
    opacity: 0.7;
}

.colors {
    overflow: hidden;
}

.colors__row {
    display: flex;
}

.colors__block {
    position: relative;
    height: 380px;
    box-sizing: border-box;
    flex: 1;
    overflow: hidden;
}

.colors__block_long {
    flex: 2;
}

.colors__block_blue {
    background: #0044B8;
    border: 1px solid #0044B8;
}

.colors__block_geepblue {
    background: var(--deep-blue);
    border: 1px solid var(--deep-blue);
}

.colors__block_red {
    background: #FF3D13;
    border: 1px solid #FF3D13;
}

.colors__block_blackened {
    background: #000F28;
    border: 1px solid #000F28;
}

.colors__block_grey {
    background: #1C2D4A;
    border: 1px solid #1C2D4A;
}

.colors__block_white {
    background: #fff;
    border: 1px solid #fff;
}

.colors__title {
    font-size: 12px;
    font-weight: 600;
    color: white;
    position: absolute;
    left: 30px;
    bottom: -40px;
    transition: all 0.2s ease-in-out;
}

.colors__title_black {
    color: #000;
}

.colors__title_show {
    bottom: 40px;
}

.colors__block_border:hover,
.colors__block_border:focus {
    border: 1px solid white;
}

.colors__block:hover .colors__title,
.colors__block:focus .colors__title {
    bottom: 40px;
}

.circle {
    background: #0044B8;
    padding: 165px 0 205px;
}

.circle__wrapper {
    background: url(/src/img/oval.png) no-repeat center;
    background-size: contain;
    max-width:830px;
    padding: 220px 0;
}

.main {
    background: #000F28;
}

.main__wrapper {
    max-width: 1280px;
    padding-top: 200px;
}

.center-title {
    margin-top: 0;
    color: white;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}

.main__center-title {
    margin-bottom: 50px;
}

.main__screen {
    display: block;
}

.map {
    background: url(/src/img/tablet.png) no-repeat right 330px, url(/src/img/map.png) no-repeat right 900px;
}

.map__wrapper {
    max-width: 1280px;
    padding: 250px 0 320px;
}

.map__text-par {
    font-size: 28px;
    line-height: 1.8;
    margin-bottom: 25px;
    color: white;
    width: 500px;
}

.map__text-par_wider {
    width: 540px;
}

.map__text-par_mb {
    margin-bottom: 270px;
}

.catalog__wrapper {
    max-width:1280px;
}

.catalog__img {
    display: block;
}

.catalog__center-title {
    margin-bottom: 30px;
}

.static {
    background: #0044B8;
    padding-top: 50px;
}

.static__wrapper {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.static__par {
    font-size: 28px;
    line-height: 1.8;
    color: white;
    margin-bottom: 25px;
}

.static__img {
    display: block;
}

.static__img_mb {
    margin-bottom: 40px;
}

.static__text {
    width: 540px;
}

.descr__wrapper {
    max-width: 720px;
}

.descr {
    background: #0044B8;
    padding: 200px 0 150px;
}

.solution {
    background-image: linear-gradient(to bottom, #0044b8 27.8%, #000F28 27.8%);
}

.solution__wrapper {
    max-width: 1280px;
}

.solution__img {
    display: block;
}

.solution__center-title {
    margin-bottom: 25px;
}

.pages {
    background: #000F28;
}

.pages__wrapper {
    padding-top: 150px;
    max-width: 1600px;
}

.pages__img {
    display: block;
}

.pics-text__wrapper {
    max-width: 720px;
    padding: 170px 0;
}

.pics__wrapper {
    max-width: 1450px;
}

.pics__center-title {
    margin-bottom: 100px;
}

.pics__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 120px;
    justify-content: center;
}

.pics__items > * {
    align-self: center;
}

.pics__img {
    display: block;
    margin: 0 auto;
}

.tablet {
    padding: 200px 0;
}

.tablet__img {
    display: block;
    margin: 0 auto;
}

.schemes__wrapper {
    max-width: 1380px;
}

.schemes__center-title {
    margin-bottom: 100px;
}

.schemes__img-big {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.schemes__img-small {
    height: 300px;
    display: block;
    transition: all 0.2s ease-in-out;
}

.schemes__img-small:hover,.schemes__img-small:focus {
    transform: scale(1.1);
    cursor: pointer;
}

.schemes__img-smdn,.schemes__img-bigdn {
    display: none;
}

.schemes__small {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.schemes__big {
    height: 480px;
}

.laptop {
    padding-top: 200px;
    position: relative;
}

.laptop__img {
    display: block;
    position: relative;
    z-index: 2;
    margin: 0 auto;
}

.laptop__border {
    width: 520px;
    height: 600px;
    background: url(/src/img/rectangle.png) no-repeat center;
    background-size: contain;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.laptop__wrapper {
    max-width: 520px;
    padding: 380px 0 130px;
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.laptop__center-par {
    margin-bottom: 15px;
}