@media (max-width: 1440px) {
    .top-text {
        padding: 200px 0 150px;
    }

    .top-text__paragraph {
        font-size: 25px;
    }

    .top-text__right {
        width: 65%;
    }
}

@media (max-width: 1200px) {
    .top-text__left {
        display: flex;
        align-items: flex-start;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 80px;
    }

    .top-text__wrapper {
        flex-flow: column;
        align-items: center;
    }

    .with-num:first-of-type {
        margin-bottom: 0;
    }

    .with-num__word {
        font-size: 18px;
        text-align: center;
    }

    .with-num__number {
        font-size: 55px;
    }

    .with-num {
        align-items: center;
    }

    .top-text {
        padding: 100px 0 130px;
    }

    .top-text__right {
        width: 80%;
    }

    .top-text__paragraph {
        font-size: 22px;
    }

    .structure__title {
        text-align: center;
    }

    .structure__scheme {
        margin-bottom: 50px;
    }
   
    .map {
        background: url(/src/img/tablet-700.png) no-repeat right 250px, url(/src/img/map-1000.png) no-repeat right 600px;
    }

    .map__wrapper {
        padding: 200px 0 250px;
    }

    .map__text-par {
        font-size: 24px;
        width: 700px;
    }

    .static__text {
        width: 600px;
        margin-right: 30px;
    }

    .static__par {
        font-size: 24px;
    }

    .pages__wrapper {
        overflow-x: scroll;
        padding-top: 100px;
    }

    .pages__img {
        max-width: unset;
    }
}

@media (max-width: 1024px) {
    .structure__wrapper {
        flex-flow: column;
        align-items: center;
    }

    .center-par {
        font-size: 25px;
    }

    .triangle__wrapper {
        padding: 150px 0;
    }

    .triangle {
        padding-bottom: 100px;
    }

    .colors__title {
        bottom: 40px;
    }

    .colors__block {
        height: 250px;
    }

    .circle {
        padding: 130px 0;
    }

    .main__wrapper {
        padding-top: 130px;
    }

    .map__wrapper {
        padding: 170px 0;
    }

    .map__text-par {
        font-size: 20px;
    }

    .map__text-par_mb {
        margin-bottom: 200px;
    }

    .static__par {
        font-size: 21px;
        line-height: 1.7;
    }

    .static__img_mb {
        margin-bottom: 25px;
    }

    .pics-text__wrapper {
        padding: 120px 0;
    }

    .pics__center-title {
        margin-bottom: 60px;
    }

    .pics__items {
        grid-gap: 80px;
    }

    .pages__wrapper {
        padding-top: 70px;
    }

    .tablet {
        padding: 150px 0;
    }
}

@media (max-width: 800px) {
    .with-num__number {
        font-size: 45px;
    }

    .with-num__word {
        font-size: 15px;
    }

    .top-text__left {
        margin-bottom: 60px;
    }

    .top-text {
        padding: 80px 0;
    }

    .top-text__paragraph {
        font-size: 18px;
    }

    .top-text__right {
        width: 90%;
    }

    .center-par {
        font-size: 22px;
    }

    .triangle__wrapper {
        padding: 100px 0;
    }

    .colors__block {
        height: 150px;
    }

    .colors__title {
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
    }

    .circle__wrapper {
        padding: 150px 0;
    }

    .circle {
        padding: 90px 0;
    }

    .main__center-title {
        margin-bottom: 30px;
    }

    .main__wrapper {
        padding-top: 90px;
    }

    .descr {
        padding: 130px 0;
    }

    .map {
        background: url(/src/img/tablet-350.png) right 170px no-repeat,url(/src/img/map-500.png) right 430px no-repeat;
    }

    .map__text-par {
        font-size: 18px;
        width: 80%;
    }

    .map__text-par_mb {
        margin-bottom: 120px;
    }

    .map__wrapper {
        padding: 130px 0;
    }

    .static__wrapper {
        flex-flow: column;
    }

    .static__text {
        width: 90%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .static__par {
        font-size: 19px;
    }

    .static {
        padding-top: 80px;
    }

    .pics__center-title {
        margin-bottom: 50px;
    }

    .pics__items {
        grid-gap: 70px;
        grid-template-columns: 1fr 1fr 1fr;
    }
} 

@media (max-width: 640px) {
    .top-text__paragraph {
        font-size: 16px;
        line-height: 1.7;
        margin-bottom: 15px;
    }

    .with-num__word {
        font-size: 12px;
    }

    .with-num__number {
        font-size: 38px;
    }

    .top-text {
        padding: 60px 0;
    }

    .top-text__left {
        margin-bottom: 50px;
    }

    .structure__proto-column:first-of-type {
        margin-right: 15px;
    }

    .structure__proto-item {
        margin-bottom: 0;
        margin-right: 15px;
    }

    .structure__proto-column {
        display: flex;
        align-items: flex-start;
    }

    .structure__proto-screens {
        overflow-x: scroll;
        padding-bottom: 20px;
    }

    .colors__title {
        font-size: 11px;
    }

    .colors__block {
        height: 100px;
    }

    .triangle__wrapper {
        padding: 100px 0 50px;
    }

    .triangle {
        padding-bottom: 50px;
    }

    .center-par {
        font-size: 20px;
    }

    .triangle__center-par {
        margin-bottom: 20px;
    }

    .circle__wrapper {
        padding: 100px 0;
    }

    .circle {
        padding: 60px 0;
    }

    .descr {
        padding: 100px 0;
    }

    .map__wrapper {
        padding: 110px 0;
    }

    .map__text-par {
        font-size: 16px;
        width: 85%;
    }

    .map__text-par_mb {
        margin-bottom: 80px;
    }

    .static__par {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .pics-text__wrapper {
        padding: 100px 0;
    }

    .pics__items {
        grid-gap: 60px 15%;
        grid-template-columns: 20% 20% 20%;
    }

    .tablet {
        padding: 100px 0;
    }
}

@media (max-width: 480px) {
    .center-par {
        font-size: 16px;
        line-height: 1.6;
    }

    .circle__wrapper {
        padding: 50px 0;
    }

    .center-link {
        font-size: 14px;
    }

    .map__wrapper {
        padding: 90px 0 120px;
    }

    .map__text-par {
        font-size: 15px;
        width: 100%;
        margin-bottom: 15px;
    }

    .map__text-par_mb {
        margin-bottom: 60px;
    }

    .map {
        background: url(/src/img/map-500.png) right 350px no-repeat;
    }

    .static {
        padding-top: 70px;
    }

    .static__text {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .static__par {
        font-size: 15px;
    }
    
    .pics-text__wrapper {
        padding: 100px 0;
    }

    .pics__items {
        grid-gap: 50px 13%;
        grid-template-columns: 24% 24% 24%;
    }
}

@media (max-width: 420px) {
    .with-num__number {
        font-size: 32px;
    }

    .with-num__word {
        font-size: 11px;
    }

    .top-text__paragraph {
        font-size: 14px;
        text-align: center;
    }

    .top-text__left {
        margin-bottom: 35px;
    }

    .top-text {
        padding: 40px 0;
    }

    .structure__title {
        margin-bottom: 30px;
    }

    .colors__block {
        height: 80px;
    }

    .colors__title {
        font-size: 10px;
    }

    .center-par {
        font-size: 14px;
    }

    .circle {
        padding: 40px 0;
    }

    .center-link {
        font-size: 12px;
    }

    .main__wrapper {
        padding-top: 70px;
    }

    .descr {
        padding: 100px 0;
    }

    .map__wrapper {
        padding: 80px 0 200px;
    }

    .map__text-par {
        font-size: 14px;
        text-align: center;
    }

    .catalog__center-title {
        margin-bottom: 20px;
    }

    .map {
        background: url(/src/img/map-500.png) right 380px no-repeat;
    }
}

@media (max-width: 320px) {
    .with-num__number {
        font-size: 27px;
    }

    .top-text__right {
        width: 100%;
    }

    .main__wrapper {
        padding-top: 50px;
    }

    .main__center-title {
        margin-bottom: 20px;
    }

    .map {
        background: url(/src/img/map-500.png) right 480px no-repeat;
    }

    .static__par {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .static__img_mb {
        margin-bottom: 15px;
    }

    .descr {
        padding: 90px 0;
    }

    .pics-text__wrapper {
        padding: 80px 0;
    }

    .tablet {
        padding: 70px 0;
    }
}