@media (max-width: 1440px) {
    .top-text {
        padding: 200px 0 150px;
    }

    .top-text__paragraph {
        font-size: 25px;
    }

    .top-text__right {
        width: 65%;
    }
}

@media (max-width: 1200px) {
    .top-text__left {
        display: flex;
        align-items: flex-start;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 80px;
    }

    .top-text__wrapper {
        flex-flow: column;
        align-items: center;
    }

    .with-num:first-of-type {
        margin-bottom: 0;
    }

    .with-num__word {
        font-size: 18px;
        text-align: center;
    }

    .with-num__number {
        font-size: 55px;
    }

    .with-num {
        align-items: center;
    }

    .top-text {
        padding: 100px 0 130px;
    }

    .top-text__right {
        width: 80%;
    }

    .top-text__paragraph {
        font-size: 22px;
    }

    .structure__title {
        text-align: center;
    }

    .structure__scheme {
        margin-bottom: 50px;
    }
}

@media (max-width: 1024px) {
    .structure__wrapper {
        flex-flow: column;
        align-items: center;
    }

    .center-par {
        font-size: 25px;
    }

    .triangle__wrapper {
        padding: 150px 0;
    }

    .triangle {
        padding-bottom: 100px;
    }

    .colors__title {
        bottom: 40px;
    }

    .colors__block {
        height: 250px;
    }

    .circle {
        padding: 130px 0;
    }
}

@media (max-width: 800px) {
    .with-num__number {
        font-size: 45px;
    }

    .with-num__word {
        font-size: 15px;
    }

    .top-text__left {
        margin-bottom: 60px;
    }

    .top-text {
        padding: 80px 0;
    }

    .top-text__paragraph {
        font-size: 18px;
    }

    .top-text__right {
        width: 90%;
    }

    .center-par {
        font-size: 22px;
    }

    .triangle__wrapper {
        padding: 100px 0;
    }

    .colors__block {
        height: 150px;
    }

    .colors__title {
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
    }

    .circle__wrapper {
        padding: 150px 0;
    }

    .circle {
        padding: 90px 0;
    }
}

@media (max-width: 640px) {
    .top-text__paragraph {
        font-size: 16px;
        line-height: 1.7;
        margin-bottom: 15px;
    }

    .with-num__word {
        font-size: 12px;
    }

    .with-num__number {
        font-size: 38px;
    }

    .top-text {
        padding: 60px 0;
    }

    .top-text__left {
        margin-bottom: 50px;
    }

    .structure__proto-column:first-of-type {
        margin-right: 15px;
    }

    .structure__proto-item {
        margin-bottom: 0;
        margin-right: 15px;
    }

    .structure__proto-column {
        display: flex;
        align-items: flex-start;
    }

    .structure__proto-screens {
        overflow-x: scroll;
        padding-bottom: 20px;
    }

    .colors__title {
        font-size: 11px;
    }

    .colors__block {
        height: 100px;
    }

    .triangle__wrapper {
        padding: 100px 0 50px;
    }

    .triangle {
        padding-bottom: 50px;
    }

    .center-par {
        font-size: 20px;
    }

    .triangle__center-par {
        margin-bottom: 20px;
    }

    .circle__wrapper {
        padding: 100px 0;
    }

    .circle {
        padding: 60px 0;
    }
}

@media (max-width: 480px) {
    .center-par {
        font-size: 16px;
        line-height: 1.6;
    }

    .circle__wrapper {
        padding: 50px 0;
    }

    .center-link {
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    .with-num__number {
        font-size: 32px;
    }

    .with-num__word {
        font-size: 11px;
    }

    .top-text__paragraph {
        font-size: 14px;
        text-align: center;
    }

    .top-text__left {
        margin-bottom: 35px;
    }

    .top-text {
        padding: 40px 0;
    }

    .structure__title {
        margin-bottom: 30px;
    }

    .colors__block {
        height: 80px;
    }

    .colors__title {
        font-size: 10px;
    }

    .center-par {
        font-size: 14px;
    }

    .circle {
        padding: 40px 0;
    }

    .center-link {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .with-num__number {
        font-size: 27px;
    }

    .top-text__right {
        width: 100%;
    }
}